<%- include("partials/header") %>
<div class="ui main text container">
    <div class="ui huge header">RESTful blog app! </div>
    <div class="ui top attached segments">
        <div class="ui divided items">
            <% blogs.forEach((blog)=>{ %>
                <div class="items">
                    <div class="image">
                        <img src="<%= blog.image %>" >
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %><%= blog.title %>">Read more</a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description">
                            <p><%= blog.body.substring(0,100)%>....</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/blogs/<%= blog._id %>">
                                Read more
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
            <% }) %>
        </div>
    </div>

</div>



<%- include("partials/footer") %>